<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- bootstrap css -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />
  <!-- google font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/adminCommon.css" type="text/css" />
  <!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>Admin panel</title>
</head>

<body>
  <section id="menu">
    <div class="logo">
      <h2>FootDotCom</h2>
    </div>
    <div class="items">
      <li>
        <i class="material-symbols-outlined"> home </i
        ><a href="/admin/home">Home</a>
      </li>
      <li>
        <i class="material-symbols-outlined"> inventory_2 </i
        ><a href="/admin/home/products">Products</a>
      </li>
      <li>
        <i class="material-symbols-outlined"> category </i
        ><a href="/admin/home/Category">Category</a>
      </li>
      <li>
        <i class="material-symbols-outlined"> group </i
        ><a href="/admin/home/users">Users</a>
      </li>
      <li>
        <i class="material-symbols-outlined"> list_alt </i
        ><a href="/admin/home/orders">Order</a>
      </li>
      <li>
        <i class="material-symbols-outlined"> summarize </i
        ><a href="/admin/home/salesreport">Sales Report</a>
      </li>
      <li>
        <i class="material-symbols-outlined"> logout </i
        ><a href="/login/logout">Logout</a>
      </li>
    </div>
  </section>
  <section id="interface" style="z-index: 999">
    <div class="navigation">
      <div>
        <i id="menu-btn" class="material-symbols-outlined"> menu </i>
      </div>
      <div class="profile">
        <div class="dropdown">
          <button
            class="btn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="material-symbols-outlined"> account_circle </i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled" href="#">admin</a></li>
            <li><a class="dropdown-item" href="/login/logout">logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
