.card-mod {
  margin-top: 30px;
  background-color: #d9d9d9;
  width: 300px;
  height: 350px;
  padding: 20px;
}

.card-mod img {
  width: 100%;
  height: 75%;
}

.card-mod .body {
  height: 25%;
  position: relative;
  background-color: aquamarine;
}

.nonlink {
  text-decoration: none;
  text-align: center;
}

.card {
  background-color: #d9d9d9;
  /* padding: 10px; */
  padding-top: 5px;
}

.main-sec {
  width: 100%;
}

aside {
  display: none;
  position: fixed;
  height: 100vh;
  background-color: #d9d9d9;
  padding: 10px;
  width: 30%;
  z-index: 999;
  overflow-y: scroll;
}

aside.active {
  display: block;
}

aside button.close {
  font-size: 34px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  align-self: end;
  padding: 0px;
  font-family: sans-serif;
  font-weight: 100;
}

.dropback {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.dropback.active {
  display: block;
}

.card-text {
  display: flex;
}

.lab-size {
  cursor: pointer;
  border: 1px solid;
}

.lab-size input[type="checkbox"] {
  display: none;
}

.lab-size span {
  position: relative;
  display: inline-block;
  background: #d9d9d9;
  padding: 5px 10px;
  color: #555;
}

.lab-size input[type="checkbox"]:checked ~ span {
  background-color: #fff;
}

.bottom-btn {
  width: 50%;
  border: 1px solid;
}

.bottom-btn:hover {
  color: #fff;
}

#filterBtn {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  background-color: #002f496b;
}

#filterBtn:hover {
  background-color: #003049;
}
#searchbtn {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  background-color: #002f496b;
}

#searchbtn:hover {
  background-color: #003049;
}

@media (max-width: 480px) {
  aside {
    display: none;
    position: fixed;
    height: 100vh;
    background-color: #d9d9d9;
    padding: 10px;
    width: 50%;
    z-index: 999;
    overflow-y: auto;
  }
  #filterBtn {
    border-radius: 5px;
    border: none;
    width: 67px;
    height: 31px;
    margin-top: 2px;
    color: #fff;
    font-size: 20px;
    background-color: #002f496b;
  }
  #searchbtn {
    border-radius: 5px;
    border: none;
    width: 66px;
    height: 31px;
    color: #fff;
    font-size: 20px;
    background-color: #002f496b;
  }
  #search-input {
    width: 180px !important;
    height: 34px !important;
  }
  .main-sec {
    margin-left: 0px !important;
  }
  .mar-left {
    margin-right: -197px;
    width: 37%;
  }
}
