* {
  margin: 0px;
  padding: 0px;
}

body{
    background-color: #003049;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.body-div {
  height: 100vh;
  display: flex;
  align-items: center;
}

.mid-div {
  background-color: #d9d9d9;
  padding: 10px;
  max-width: 450px;
  border: 1px;
  border-radius: 10px;
}

.submit-btn{
  background-color: #1f3946;
  padding: 5px;
  color: #ffff;
  border: none;
  border-radius: 5px;
  width: 170px;
  outline: none;
}

.submit-btn:hover{
  background-color: #003049;
  color: #ffff;
}

.maincolor{
  background-color: #003049;
}

.input-control input{
    /* width: 100% !important; */
    margin-bottom: 20px;
    padding: 5px !important;
}

.signup-div::after  {
    content: '';
    position: relative;
    min-width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    order: 2;
    border-bottom: 1px solid rgb(29, 26, 26);
    opacity: 0.2;
}

.input-control.success input{
  border-color: #09c372;
}

.input-control.error input{
  border-color: #f20a0a;
}

.input-control input:focus{
  outline: none !important;
  border: none !important;
}

.input-control .error-message{
  height: 13px;
  color: #f20a0a;
  font-size: 9px;
  margin-top: -20px;
  margin-left: 10px;
}

.signed{
  color: #ffff;
}

.signed a{
  color: #ffff;
}