body {
  background-color: #003049;
  /* overflow: hidden; */
}

td {
  word-wrap: break-word;
}

table {
  position: relative;
  text-align: center;
}

.div-main {
  border: 1px solid;
  border-radius: 15px;
  background-color: #d9d9d9;
}

.gohome {
  background-color: #003049;
  color: #ffffff;
}

.gohome:hover {
  background-color: #082331;
  color: #ffffff;
}

address {
  border: 1px solid #555;
}

section {
  height: 100vh;
}
